{% extends 'base.html' %}
{% block content %}
<div class="block"style="width: 900px; margin-left: auto; margin-right: auto;">
    <div class="box">
        <h1 class="title"  style="line-height:4em">
           ! به پنل پرسش و پاسخ اصغر خوش آمدی
        </h1>
        <p  style="line-height:4em">
            در این جا می توانی سوالات خود را در حوزه هاید مختلف بیان کرده  و همراهان اصغر در اسرع وقت به تو پاسخ خواهند داد.
        </p>
        <p  style="line-height:4em">
            علاوه بر آن میتوانی به سوالات دیگران پاسخ دهی و امتیاز دریافت کنی
        </p>
    </div>
</div>
{% endblock %}