{% extends 'base.html' %}
{% block content %}
{% load jalali_tags %}

<div class="box">
    <h1> سوالات قسمت <strong>{{ categories.category_name }}</strong> </h1>
</div>
<!--
think to make beautiful
 -->
{% for question in categories.questions.all %}

<div class="block">
    <div class="box">
        <div class="columns">

            <div class="column">
                <div class="box">
                    <p>برچسب ها:</p>
                    {% for tag in question.question_tag.all %}
                    <p>{{ tag.tag_name }}</p>
                   {% endfor %}
                </div>
                <div class="box">
                    <a href="{% url 'questions:question_detail' question.id %}" class="button is-primary">  نمایش پاسخ ها </a>
                </div>
            </div>
            <div class="column is-three-quarters">
                <div class="box">
                <h1 class="subtitle is-4" style="line-height:4em"><strong>{{ question.question_title }}</strong></h1>
                <p style="line-height:6em">{{ question.question_text|safe }}</p>
                <p style="line-height:6em"></p>

<!--                  <div class="container">-->
<!--                        <form method="post" action="{% url 'questions:blogpost_like1' %}" class="ui form">-->
<!--                            {% csrf_token %}-->
<!--                            <input type="hidden" name="question_id" value="{{ question.id }}">-->
<!--                            {% if user not in question.question_like.all %}-->
<!--                            <button class="ui button positive" type="submit">like</button>-->
<!--                            {% else %}-->
<!--                            <button class="ui button negative" type="submit">unlike</button>-->

<!--                            {% endif %}-->
<!--                        </form>-->
<!--                      <p>{{ question.question_like.count }} likes</p>-->
<!--                    </div>-->

                   <div class="box">
                        <a href="{% url 'questions:create_answer' question.id %}" class="button is-primary"> پاسخ</a>
                        <a href="{% url 'questions:report_question' question.id %}" class="button is-warning">گزارش</a>

{% if request.user.username == question.user.username %}
            <a href="{% url 'questions:update_question' question.id %}" class="button is-info">به روز رسانی</a>
            <a href="{% url 'questions:delete_question' question.id %}" class="button is-danger">حذف سوال</a>
{% endif %}

</div>
                </div>
        </div>


   </div>
    </div>

    </div>
{% endfor %}
{% endblock %}


