{% extends 'base.html' %}
{% block content %}
<div class="block">
    <div class="box">
        <div class="container"style="width: 400px; margin-left: auto; margin-right: auto;">
            <h1 class="title" >سوالت را بپرس</h1>
            <p>
            <a href="{% url 'questions:create_question' %}" class="button is-primary is-focused" style="text-align:center">شروع</a>
            </p>
        </div>
    </div>
</div>
{% for question in questions %}
<div class="block">
    <div class="box">
        <div class="block">
             <div class="box">
                <div class="container">
                    <h1 class="subtitle is-4"><strong>{{ question.question_title }}</strong></h1>
                </div>
                    <div class="container">
                        <p style="line-height:2em">{{ question.question_text }}</p>
                    </div>
                        <p>{{ question.question_tag.tag_name }}</p>
                    <div class="container">
                        <p style="line-height:4em">این سوال در تاریخ {{ question.created_time }} توسط {{ question.user.username }}  پرسیده شده است </p>
                    </div>
                    <div class="container">
                        <a href="{% url 'questions:create_answer' question.id %}" class="button is-warning"> پاسخ</a>
                        <a href="{% url 'questions:report_question' question.id %}" class="button is-warning">گزارش</a>
                        <a href="{% url 'questions:question_detail' question.id %}" class="button is-info">detail</a>

{% if request.user.username == question.user.username %}
            <a href="{% url 'questions:update_question' question.id %}" class="button is-info">به روز رسانی</a>
            <a href="{% url 'questions:delete_question' question.id %}" class="button is-danger">حذف سوال</a>
{% endif %}
                     </div>
        </div>
   </div>
        <div class="block">
            <div class="box">
                <h1 class="subtitle">پاسخ کاربران</h1>
            </div>
        </div>
    </div>

</div>
{% endfor %}
{% endblock %}

# like 176